@charset "utf-8";
/* CSS Document */

.sp {
display: none;
}

#contactForm .box02 {
-js-display: flex;
display: -webkit-flex;
display: flex;
flex-wrap: wrap;
-webkit-justify-content: space-between;
justify-content: space-between;
width:  100%;
margin: 0;
position:relative;
}

#contactForm .addressBox li {
margin-bottom: 10px;
}

#contactForm .addressBox li:last-child {
margin-bottom: 0;
}

#contactForm .box02 li {
width: 48.5%;
}

#Contents h1 {
border-top: 3px solid #CE4D66;
border-bottom: 1px dotted #C8C8C8;
font-weight: 500;
font-size: 1.2em;
padding: 25px 0px;
margin-bottom: 30px;
line-height: 1.6em;
font-family: 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS P Gothic', 'Osaka', 'Helvetica', 'Arial', 'Gothic', 'sans-serif';
}

#Contents h1 .ss {
color: #CE4D66;
font-size: 0.68em;
font-family: 'メイリオ', 'Meiryo', 'ヒラギノ角ゴ Pro W3', 'Hiragino Kaku Gothic Pro', 'ＭＳ Ｐゴシック', 'MS P Gothic', 'Osaka', 'Helvetica', 'Arial', 'Gothic', 'sans-serif';
font-weight: 100;
}

#Contents h2 {
font-size: 1.2em;
color: #CE4D66;
font-weight: 900;
margin-bottom: 30px;
}

ul.listArrow {
	padding-bottom: 20px;
}

ul.listArrow li {
	font-size: 0.9em;
	line-height: 1.5em;
	background: url(../../images/point.gif) no-repeat 0px 4px;
	padding: 0px 0px 10px 20px;
}

#contactForm{
margin: 0 0 50px 0;
}

#contactForm table{
margin: 0 0 30px 0;
padding: 0;
width: 100%;
box-sizing: border-box;
}
#contactForm table th,
#contactForm table td{
padding: 15px 20px;
vertical-align: middle;
border:1px solid #DFDFDF;
font-size: 0.9em;
line-height: 1.6;
box-sizing: border-box;
}
#contactForm table th{
background-color: #f1f1f1;
white-space: nowrap;
width: 25%;
}

#contactForm tr th .hissu {
display: block;
text-align: right;
float: right;
font-size: 0.688em;
background: #DF3138;
color: #FFF;
padding: 1px 15px;
line-height: 1.6em;
border-radius: 30px;
margin-top: 5px;
}

#contactForm table td .mt10 {
display: block;
margin-top: 10px;
}

#contactForm .checkbox,
#contactForm .radio{
z-index: -1;
position: absolute;
}

#contactForm label {
display: block;
margin:0px;
padding: 12px 15px 12px 35px;
border-radius: 5px;
cursor: pointer;
background: #f6f6f6;
border: 1px solid #e5e5e5;
font-size: 0.9em;
box-sizing: border-box;
}

#contactForm label:hover {
text-decoration: none;
}

#contactForm input[type="text"],
#contactForm input[type="password"],
#contactForm textarea {
padding: 14px 20px;
border: 1px solid #e5e5e5;
border-radius: 3px;
box-sizing: border-box;
font-size: 0.9em;
width:100%;
color:#3e3e3e;
}

#contactForm .select {
position: relative;
height: 47.5px;
background: white;
display:inline-block;
color: #525259;
}

#contactForm .select:after {
content: '';
position: absolute;
top: 0;
width: 0;
height: 0;
right: 10px;
bottom: 0;
margin: auto;
border-style: solid;
border-width: 5px 5px 0 5px;
border-color: #FFFFFF transparent transparent transparent;
pointer-events: none;
}

#contactForm .select:before {
width: 30px;
position: absolute;
top: 1px;
right: 1px;
bottom: 1px;
background: #CE4D66;
content: '';
pointer-events: none;
}

#contactForm .select select {
font-size: 0.9em;
border: none;
box-shadow: none;
border-radius: 0;
background: transparent;
height: 100%;
width: 100%;
cursor: pointer;
outline: none;
padding-right: 35px;
padding-left: 15px;
border: 1px solid #e5e5e5;
-moz-appearance: none;
-webkit-appearance: none;
color: #525259;
font-family:"游ゴシック", YuGothic, "ヒラギノ角ゴ ProN W3", "Hiragino Kaku Gothic ProN", "メイリオ", Meiryo, sans-serif;
font-weight: 500;
}

#contactForm .select select:-moz-focusring {
color: transparent;
text-shadow: 0 0 0 #000;
}

#contactForm .select select::-ms-expand {
display: none;
}

/*IE対応*/
#contactForm select::-ms-expand {
display: none;
}
#contactForm input[type=submit],
#contactForm input[type=button]{
background:none;
border:none;
}

#btnCheck{
text-align:center;
}

#btnCheck input[type=submit],
#btnSent input[type=submit],
#btnSent input[type=button] {
margin: 0;
padding: 20px 0;
line-height: 100%;
display: inline-block;
border: none;
border-radius: 100px;
background:#CE4D66;
width: 400px;
font-size: 0.9em;
color: #FFFFFF;
font-weight: 900;
}

input[type=submit],
input[type=button] {
border-radius: 0;
-webkit-box-sizing: content-box;
-webkit-appearance: button;
appearance: button;
border: none;
box-sizing: border-box;
cursor: pointer;
}

input[type=submit]::-webkit-search-decoration,
input[type=button]::-webkit-search-decoration {
display: none;
}

input[type=submit]::focus,
input[type=button]::focus {
outline-offset: -2px;
}

#btnSent input[type=button]  {
background-color: #A0A0A0;
color: #FFF;
}

#btnSent ul{
margin:0px;
text-align:center;
}

#btnSent li{
display:inline-block;
}

@media screen and (max-width: 767px) {
.pc {
display: none !important;
}
.sp {
display: block;
}

#Header {
width: 100% !important;
padding: 0;
box-sizing: border-box;
}

#Navigation p {
float: none;
width: 39%;
padding: 10px;
z-index: 100;
}

#Navigation p img {
width: 100%;
}

#Contents {
margin: 0px auto;
width: 100%;
padding: 0 20px;
box-sizing: border-box;
}

#Contents h1 {
font-size: 0.9em;
padding: 15px 0px;
margin-bottom: 12px;
}

#Contents h2 {
font-size: 0.9em;
margin-bottom: 20px;
}

ul.listArrow {
	padding-bottom: 20px;
}

ul.listArrow li {
	font-size: 0.75em;
}

.box02 li input {
width: 100% !important;
}

#contactForm{
margin: 0 0 30px 0;
}

#contactForm table{
margin: 0 0 30px 0;
border-bottom: 1px solid #DFDFDF;
}

#contactForm table th,
#contactForm table td{
width: 100%;
display: block;
}

#contactForm table th,
#contactForm table td{
border-bottom:none;
}

#contactForm tr td #zip,
#contactForm tr td #tel,
#contactForm tr td #pref {
width:80% !important;
}

#btnCheck{
text-align:center;
}

#btnCheck input[type=submit],
#btnSent input[type=submit],
#btnSent input[type=button] {
padding: 15px 0;
width: 100%;
}
}
